In [1]:
import pandas as pd

# Soccer players values and their statistics
transfermarkt.de and fbref.com merged data for 2017/18-2019/20 seasons

Data downloaded from Kaggle: https://www.kaggle.com/kriegsmaschine/soccer-players-values-and-their-statistics?select=transfermarkt_fbref_201718.csv

In [2]:
# Player metadata (assume as constant over the years)
id='player'
columns_current = ['nationality','position','squad','age','value','height','foot','league']

# handselected yearly data
years = [17,18,19]
columns_yearly = [
    'games','minutes','shots_total','goal_kicks','goals','assists',
    'cards_yellow','cards_red',
    'passes',
    'corner_kicks','throw_ins',
    'tackles','blocks','interceptions','clearances','touches','dribbles',
    'offsides', 'errors',
    'fouls','fouled',
]

# all columns
columns = columns_current+columns_yearly

In [3]:
# helper function to add suffix to yearly columns
def colName(col, year):
    col = str(col)
    if(col == 'player'):
        return col
    else:
        return col + '_' + year

In [4]:
data17 = pd.read_csv('transfermarkt_fbref_201718.csv', ';', index_col=id)[columns_yearly]
data18 = pd.read_csv('transfermarkt_fbref_201819.csv', ';', index_col=id)[columns_yearly]
data19 = pd.read_csv('transfermarkt_fbref_201920.csv', ';', index_col=id)
data_current = data19[columns_current]
data19 = data19[columns_yearly]

# rename yearly columns to be able to merge them
data17.columns = [colName(col, '17') for col in data17.columns]
data18.columns = [colName(col, '18') for col in data18.columns]
data19.columns = [colName(col, '19') for col in data19.columns]

/home/klaus/anaconda3/envs/python-tutorial/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (395) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
#check duplicates
data19[data19.index.duplicated(keep=False)]

,games_19,minutes_19,shots_total_19,goal_kicks_19,goals_19,assists_19,cards_yellow_19,cards_red_19,passes_19,corner_kicks_19,...,tackles_19,blocks_19,interceptions_19,clearances_19,touches_19,dribbles_19,offsides_19,errors_19,fouls_19,fouled_19
player,,,,,,,,,,,,,,,,,,,,,
VĂ­ctor Camarasa,17,1293,8,0,0,1,1,0,533,11,...,17,16,10,18,662,29,2,0,14,15
Javi LĂłpez,1,90,0,0,0,0,0,0,30,0,...,5,1,0,6,45,0,0,0,1,0
Guillermo MaripĂˇn,1,90,0,0,0,0,0,0,11,0,...,0,2,1,7,21,0,0,0,0,0
Roberto,9,790,1,40,0,0,1,0,238,0,...,1,0,0,0,269,0,0,0,0,2
Nicholas Opoku,7,630,4,0,0,0,1,0,199,1,...,11,12,4,20,291,2,0,0,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jeffrey Bruma,9,810,9,0,0,0,1,0,306,0,...,7,13,8,76,425,3,1,0,15,4
Ryan Bennett,11,606,0,0,0,0,2,0,239,0,...,4,15,6,45,315,0,0,1,4,1
Patrick Cutrone,12,297,22,0,2,0,0,0,169,0,...,8,9,3,5,105,9,4,0,5,9
Adama TraorĂ©,37,2605,17,0,4,9,1,0,493,0,...,6,13,1,7,1400,211,5,0,39,77
JesĂşs Vallejo,2,163,0,0,0,0,1,0,104,0,...,4,4,0,13,124,1,0,0,2,1

In [6]:
# Sum up duplicates
data17 = data17.groupby([id]).sum()
data18 = data18.groupby([id]).sum()
data19 = data19.groupby([id]).sum()

# remove duplicates in meta data, assume last entry is most recent one
# data_current = data_current.drop_duplicates(subset=['index'], keep='last') # drop d_diplicates doesn't work on index
data_current = data_current.groupby(data_current.index).last()

In [7]:
# join data by playername
data = data_current \
    .join(data17) \
    .join(data18) \
    .join(data19)
data.head()

,nationality,position,squad,age,value,height,foot,league,games_17,minutes_17,...,tackles_19,blocks_19,interceptions_19,clearances_19,touches_19,dribbles_19,offsides_19,errors_19,fouls_19,fouled_19
player,,,,,,,,,,,,,,,,,,,,,
Aaron Connolly,ie IRL,FW,Brighton,19,4000000,175,right,Premier League,NaN,NaN,...,12,8,5,1,349,16,14,0,16,38
Aaron Cresswell,eng ENG,DF,West Ham,29,6000000,170,left,Premier League,36.0,3069.0,...,48,64,15,92,1971,38,2,2,16,18
Aaron Lennon,eng ENG,MF,Burnley,32,2000000,165,right,Premier League,29.0,1911.0,...,15,8,8,6,189,8,0,0,11,7
Aaron Leya Iseka,be BEL,FW,Toulouse,21,2000000,182,right,Ligue 1,NaN,NaN,...,5,6,2,7,300,13,6,0,20,11
Aaron Mooy,au AUS,"MF,FW",Brighton,28,9000000,179,right,Premier League,36.0,3067.0,...,43,48,18,29,1359,51,0,0,13,11

In [8]:
data.to_csv('soccer.csv')

# Apppendix
## Check again for duplicates

In [9]:
data17[data17.index.duplicated(keep=False)]

Empty DataFrame
Columns: [games_17, minutes_17, shots_total_17, goal_kicks_17, goals_17, assists_17, cards_yellow_17, cards_red_17, passes_17, corner_kicks_17, throw_ins_17, tackles_17, blocks_17, interceptions_17, clearances_17, touches_17, dribbles_17, offsides_17, errors_17, fouls_17, fouled_17]
Index: []

[0 rows x 21 columns]

In [10]:
data18[data18.index.duplicated(keep=False)]

Empty DataFrame
Columns: [games_18, minutes_18, shots_total_18, goal_kicks_18, goals_18, assists_18, cards_yellow_18, cards_red_18, passes_18, corner_kicks_18, throw_ins_18, tackles_18, blocks_18, interceptions_18, clearances_18, touches_18, dribbles_18, offsides_18, errors_18, fouls_18, fouled_18]
Index: []

[0 rows x 21 columns]

In [11]:
data19[data19.index.duplicated(keep=False)]

Empty DataFrame
Columns: [games_19, minutes_19, shots_total_19, goal_kicks_19, goals_19, assists_19, cards_yellow_19, cards_red_19, passes_19, corner_kicks_19, throw_ins_19, tackles_19, blocks_19, interceptions_19, clearances_19, touches_19, dribbles_19, offsides_19, errors_19, fouls_19, fouled_19]
Index: []

[0 rows x 21 columns]

In [12]:
data_current[data_current.index.duplicated(keep=False)]

Empty DataFrame
Columns: [nationality, position, squad, age, value, height, foot, league]
Index: []